In [43]:
#reverse a string.
s=str(input()) #take input from user and convert input intto string
s1=s[::-1] #reverse the string and save the result in s1
s1 #print the reversed  string

 bbb

'bbb'

In [14]:
#Check if a string is a palindrome.
def is_palindrome(s2):
    s2 = s2.lower()  # Convert to lowercase for case-insensitivity
    s3 = s2[::-1] #reverse the string and store that in s3
    return s2 == s3 #the new reversed value is assigned to s3

# Get input from the user
s2 = input("Enter a string: ")

# Check if the input string is a palindrome
if is_palindrome(s2):
    print("The input string is a palindrome.")
else:
    print("The input string is not a palindrome.")

Enter a string:  abababa

The input string is a palindrome.

In [29]:
#Convert a string to uppercase.
string = input("Enter a string: ")
upper = string.upper()
upper

Enter a string:  JVKSKJJKSjgfajrywtrakwh

'JVKSKJJKSJGFAJRYWTRAKWH'

In [30]:
#Convert a string to lowercase.
string = input("Enter a string: ")
lower=string.lower()
lower

Enter a string:  SDDD

'sddd'

In [46]:
#Count the number of vowels in a string.
s4 = input("Enter a string: ")
vowelcount=0
vowels = ["a", "e", "i", "o", "u","A","E","I","O","U"]
for i in range(len(s4)): 
    if s4[i] in vowels:
         vowelcount += 1 #whenever vowel occurs the count is increased by 1
print("No of vowels in the given string :", vowelcount)

Enter a string:  aeiou

No of vowels in the given string : 5

In [1]:
#Count the number of consonants in a string.
s5 = input("Enter a string: ")
count=0
consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
for i in range(len(s5)): 
    if s5[i] in consonants:
         count += 1 #whenever consonant occurs the count is increased by 1
print("No of consonants in the given string :", count)

Enter a string:  dhhjgjhfffddr

No of consonants in the given string : 13

In [44]:
#Remove all whitespaces from a string.
s6 = input("Enter a string: ")
s7 = s6.replace(" ", "") #removing the spaces
print("Modified string without spaces:", s7)

Enter a string:  hfhfhgf

Modified string without spaces: hfhfhgf

In [6]:
#Find the length of a string without using the `len()` function.
def calculate_length(input_string):
    count = 0
    for char in input_string:
        count += 1
    return count

input_string = input("enter the string:")
length = calculate_length(input_string)
print(length)

enter the string: 111abc

6

In [13]:
#Check if a string contains a specific word.
input_string = input("enter the string:") #taking string from user
specific_word = input("enter the word:") #taking word from user

if specific_word in input_string:
    print("The string contains the specific word.")
else:
    print("The string does not contain the specific word.")

enter the string: kytyuuyuitituy
enter the word: y

The string contains the specific word.

In [2]:
#Replace a word in a string with another word.
input_string = "Hello, world! This is a sample sentence."
old_word = "sample"
new_word = "new"

updated_string = input_string.replace(old_word, new_word)
print(updated_string)

Hello, world! This is a new sentence.

In [7]:
#Count the occurrences of a word in a string.
string=" this is best place to learn data science you need hardwork and dedication this is provided by pwskills"
wordcount=string.count('this')
wordcount

2

In [10]:
#Find the first occurrence of a word in a string.
string="this is best place to learn data science you need hardwork and dedication this is provided by pwskills"
firstoccurance=string.find('best')
firstoccurance

8

In [17]:
#Find the last occurrence of a word in a string.
lastoccurance=string.rfind('is')
lastoccurance

79

In [18]:
#Split a string into a list of words.
ss="hi how r u what are u doing are you taking the classes regurarly"
split=ss.split()
split

['hi',
 'how',
 'r',
 'u',
 'what',
 'are',
 'u',
 'doing',
 'are',
 'you',
 'taking',
 'the',
 'classes',
 'regurarly']

In [45]:
#Join a list of words into a string.
words = ["This", "is", "a", "list", "of", "words","understand"]
separator = " " #separator is used to separate the words in new string

joinedstring = separator.join(words) #join is used to join the words into a  string
print(joinedstring)

This is a list of words understand

In [2]:
#Convert a string where words are separated by spaces to one where words
#are separated by underscores.
sa="This is a list of words understand"
new=sa.replace(" ",'_')
new

'This_is_a_list_of_words_understand'

In [39]:
#Check if a string starts with a specific word or phrase.
specific_word = "This"
if sa.startswith(specific_word):
    print("The string starts with the specific word.")
else:
    print("The string does not start with the specific word.")

The string starts with the specific word.

In [31]:
specific_word = "words"
if sa.endswith(specific_word):
    print("The string end with the specific word.")
else:
    print("The string does not end with the specific word.")

The string end with the specific word.

In [40]:
#Convert a string to title case (e.g., "hello world" to "Hello World").
titlecase=sa.title()
titlecase

'This Is A List Of Words Understand'

In [42]:
#Find the longest word in a string.
word = sa.split()

longest_word = max(word, key=len) #The max() is applied to find the longest word in the list of words.
#key=len  argument specifies that the length of each word should be used as the comparison key.
print("The longest word in the string is:", longest_word)

The longest word in the string is: understand

In [3]:
#Find the shortest word in a string
ww=sa.split()
shortest_word=min(ww,key=len)
print("the shortest word in the string is:",shortest_word)

the shortest word in the string is: a

In [5]:
#Reverse the order of words in a string.
rev=sa[::-1]
rev

'dnatsrednu sdrow fo tsil a si sihT'

In [6]:
#Check if a string is alphanumeric.
sa.isalnum()

False

In [7]:
# Extract all digits from a string.
input_string = "There are 123 digits in this string."

digits = [char for char in input_string if char.isdigit()] #all digitsare collected using isdigit() method
extracted_digits = ''.join(digits) #join() method is used to convert the list of digits back into a string

print("Extracted digits:", extracted_digits)

Extracted digits: 123

In [8]:
#Extract all alphabets from a string.
alphabets = [char for char in input_string if char.isalpha()]
#collect all the alphabet characters using the isalpha() method
extracted_alphabets = ''.join(alphabets)

print("Extracted alphabets:", extracted_alphabets)

Extracted alphabets: Therearedigitsinthisstring

In [12]:
#input_string = "There Are 5 Uppercase Letters In This String."
input_string = "There Are 5 Uppercase Letters In This String."
uppercase_count = 0
for char in input_string: #condition for counting uppercase letters
    if char.isupper():
        uppercase_count += 1

print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 7

In [13]:
#Count the number of lowercase letters in a string.
lowercase_count = 0
for char in input_string: #condition for counting uppercase letters
    if char.islower():
        lowercase_count += 1

print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 29

In [15]:
# Swap the case of each character in a string
input_string = "Hello, World!"

swapped_string = input_string.swapcase()

print("Original string:", input_string)
print("Swapped string:", swapped_string)

Original string: Hello, World!
Swapped string: hELLO, wORLD!

In [16]:
#Remove a specific word from a string.
input_string = "Hello, world! This is a sample sentence."
word_to_remove = "sample"
new_string = input_string.replace(word_to_remove, "")

print("Original string:", input_string)
print("String after removing the word:", new_string)

Original string: Hello, world! This is a sample sentence.
String after removing the word: Hello, world! This is a  sentence.

In [4]:
#Check if a string is a valid email address
pip install email-validator 
#email_validator library is ued to check if a string is a valid email address in python

Requirement already satisfied: email-validator in /opt/conda/lib/python3.10/site-packages (2.0.0.post2)
Requirement already satisfied: idna>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from email-validator) (3.4)
Requirement already satisfied: dnspython>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from email-validator) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from email_validator import validate_email, EmailNotValidError

def is_valid_email(email):
    try:
        valid = validate_email(email)
        return True
    except EmailNotValidError:
        return False

email_address = "example@email.com"

if is_valid_email(email_address):
    print("Valid email address")
else:
    print("Invalid email address")

Valid email address

In [6]:
# Extract the username from an email address string
email_address = "example@email.com"
username = email_address.split("@")[0]

print("Username:", username)

Username: example

In [7]:
#Extract the domain name from an email address string.
email_address = "example@email.com"
domain = email_address.split("@")[1]

print("Domain:", domain)

Domain: email.com

In [8]:
# Replace multiple spaces in a string with a single space
input_string = "This    is   a   string     with   multiple      spaces."
processed_string = ' '.join(input_string.split())

print("Original string:", input_string)
print("Processed string:", processed_string)

Original string: This    is   a   string     with   multiple      spaces.
Processed string: This is a string with multiple spaces.

In [2]:
# Check if a string is a valid URL.
pip install validators #validators library is used to check if a string is a valid URL:

Requirement already satisfied: validators in /opt/conda/lib/python3.10/site-packages (0.21.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import validators

url = "https://www.example.com"

if validators.url(url):
    print("Valid URL")
else:
    print("Invalid URL")

Valid URL

In [1]:
#Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [2]:
# Find the frequency of each character in a string.
input_string = input("enter the string:")
frequency = {}

for char in input_string:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

enter the string: drrtfygukhiityuyfvjhjjkkj

{'d': 1, 'r': 2, 't': 2, 'f': 2, 'y': 3, 'g': 1, 'u': 2, 'k': 3, 'h': 2, 'i': 2, 'v': 1, 'j': 4}

In [3]:
#Remove all punctuation from a string
input_string = "Hello, World! How's it going?"
cleaned_string = ''

for char in input_string:
    if char.isalnum() or char.isspace():
        cleaned_string += char

print(cleaned_string)

Hello World Hows it going

In [4]:
#Check if a string contains only digits
input_string = "12345"

if input_string.isdigit():
    print("The string contains only digits.")
else:
    print("The string contains non-digit characters.")

The string contains only digits.

In [7]:
#Check if a string contains only alphabets
input_string = input("enter your string:")

if input_string.isalpha():
    print("The string contains only alphabetic characters.")
else:
    print("The string contains non-alphabetic characters.")

enter your string: sfgfbjghjkdh

The string contains only alphabetic characters.

In [11]:
#Convert a string to a list of characters
input_string = input("enter your string:")
char_list = list(input_string)

print(char_list)

enter your string: abcgddjodjdf

['a', 'b', 'c', 'g', 'd', 'd', 'j', 'o', 'd', 'j', 'd', 'f']

In [14]:
#Check if two strings are anagrams
def are_anagrams(str1, str2):
    return set(str1) == set(str2)#returns the result of comparing whether the sets of characters in str1 and str2 are equal

# Example usage
string1 = "listen"
string2 = "silent"

if are_anagrams(string1, string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

In [2]:
 #Encode a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [3]:
#Decode a Caesar cipher encoded string
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [2]:
#. Find the most frequent word in a string.
from collections import Counter #imports the Counter class from the collections module, which is used to count occurrences of elements

def most_frequent_word(input_string): #defines a function
    words = input_string.split() # splits the input string into a list of words.
    word_counts = Counter(words) #creates a counter object to count the occurrences of each word.
    most_common_word = max(word_counts, key=word_counts.get) #finds the most common word by using the max function with the key argument set to word_counts.get, which gets the count of each word.
    return most_common_word
input_string = input("enter the string:")
most_common_word = most_frequent_word(input_string)
print(f"The most frequent word is '{most_common_word}'.")

enter the string: tis is one of the ine one one twoo onw

The most frequent word is 'one'.

In [6]:
#Find all unique words in a string
def unique_words(input_string): # defines a function named unique_words that takes an input_string as its parameter
    return set(input_string.split()) #uses a set comprehension to split the input_string into words using the default whitespace separator. It then converts the list of words into a set,
#which automatically removes duplicate words. The resulting set of unique words is returned
input_string = input("enter your string:")
unique_word_set = unique_words(input_string)
print("Unique words:", unique_word_set)

enter your string: how r u what are u doing

Unique words: {'how', 'doing', 'r', 'are', 'u', 'what'}

In [4]:
#Count the number of syllables in a string
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [10]:
# Check if a string contains any special characters
def contains_special_characters(input_string):
    for char in input_string:
        if not char.isalnum():
            return True
    return False
input_string = "Hell0!"
if contains_special_characters(input_string):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

In [5]:
# Remove the nth word from a string.
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [26]:
# Insert a word at the nth position in a string.
def insert_word_at_nth_position(input_string, word_to_insert, n):
    words = input_string.split()
    words.insert(n - 1, word_to_insert)
    return ' '.join(words)

# Example usage
input_string = "This is a test sentence."
word_to_insert = "hello"
n = 3
new_string = insert_word_at_nth_position(input_string, word_to_insert, n)
print("Modified string:", new_string)

Modified string: This is hello a test sentence.

In [29]:
#Convert a CSV string to a list of lists.
def csv_string_to_list(csv_string):
    lines = csv_string.strip().split('\n')  # Split the CSV into lines
    csv_list = [line.split(',') for line in lines]  # Split each line into a list
    return csv_list
csv_string = "John,Doe,25\nJane,Smith,30\nAlice,Johnson,28"
csv_list = csv_string_to_list(csv_string)
for row in csv_list:
    print(row)

['John', 'Doe', '25']
['Jane', 'Smith', '30']
['Alice', 'Johnson', '28']

In [1]:
#Create a list with integers from 1 to 10.
l=[1,2,3,4,5,6,7,8,9,10]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
#Find the length of a list without using the `len()` function.
def length(l): # keeps track of the length
    count = 0 #represents the length of the list
    while l:
        l = lst[1:]
        count += 1
    return count

# Example usage
l = [1, 2, 3, 4, 5]
length = len(l)
print("Length:", length)

Length: 5

In [3]:
#Append an element to the end of a list.
l.append(6)
l

[1, 2, 3, 4, 5, 6]

In [4]:
#Insert an element at a specific index in a list
l.insert(6,7)
l

[1, 2, 3, 4, 5, 6, 7]

In [5]:
#Remove an element from a list by its value
l.remove(7)
l

[1, 2, 3, 4, 5, 6]

In [6]:
#. Remove an element from a list by its index.
l.pop(5)
l

[1, 2, 3, 4, 5]

In [7]:
# Check if an element exists in a list
element = 3

if element in l:
    print(f"{element} exists in the list.")
else:
    print(f"{element} does not exist in the list.")

3 exists in the list.

In [8]:
#Find the index of the first occurrence of an element in a list
l.index(3)

2

In [9]:
#Count the occurrences of an element in a list
element = 2
occurrences = l.count(element)
print(f"{element} occurs {occurrences} times in the list.")

2 occurs 1 times in the list.

In [10]:
# Reverse the order of elements in a list
l1=l[::-1]
l1

[5, 4, 3, 2, 1]

In [11]:
# Sort a list in ascending order.
l1.sort()
l1

[1, 2, 3, 4, 5]

In [12]:
# Sort a list in descending order.
l1.sort(reverse=True)
l1

[5, 4, 3, 2, 1]

In [13]:
# Create a list of even numbers from 1 to 20
even_numbers = list(range(2, 21, 2))

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
# Create a list of odd numbers from 1 to 20
odd_numbers = list(range(1, 20, 2))

print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [15]:
# Find the sum of all elements in a list
sum(l1)

15

In [16]:
# Find the maximum value in a list
max(l1)

5

In [17]:
#Find the minimum value in a list.
min(l1)

1

In [18]:
# Create a list of squares of numbers from 1 to 10
squares = []
for num in range(1, 11):
    squares.append(num ** 2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
#Create a list of random numbers.
import random

# Specify the range and number of random numbers you want
start_range = 1
end_range = 100
num_numbers = 10

# Generate a list of random integers
random_numbers = [random.randint(start_range, end_range) for _ in range(num_numbers)]

# Print the list of random numbers
print(random_numbers)

[34, 13, 41, 99, 50, 51, 32, 34, 88, 32]

In [21]:
# Remove duplicates from a list
my_list = [1, 2, 2, 3, 4, 4, 5, 5]
unique_list = list(set(my_list))

print(unique_list)

[1, 2, 3, 4, 5]

In [22]:
# Find the common elements between two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = list(set(list1).intersection(list2))

print(common_elements)

[3, 4, 5]

In [23]:
#Find the difference between two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

difference_elements = list(set(list1).difference(list2)) #This converts the set of difference elements back into a list.

print(difference_elements)

[1, 2]

In [24]:
# Merge two lists.
list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = list1 + list2

print(merged_list)

[1, 2, 3, 4, 5, 6]

In [25]:
# Multiply all elements in a list by 2
original_list = [1, 2, 3, 4, 5]
doubled_list = [item * 2 for item in original_list]

print(doubled_list)

[2, 4, 6, 8, 10]

In [26]:
# Filter out all even numbers from a list
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list = [item for item in original_list if item % 2 != 0]

print(filtered_list)

[1, 3, 5, 7, 9]

In [27]:
# Convert a list of strings to a list of integers.
string_list = ["1", "2", "3", "4", "5"]
integer_list = []

for item in string_list:
    integer_list.append(int(item))

print(integer_list)

[1, 2, 3, 4, 5]

In [28]:
# Convert a list of integers to a list of strings
integer_list = [1, 2, 3, 4, 5]
string_list = []

for item in integer_list:
    string_list.append(str(item))

print(string_list)

['1', '2', '3', '4', '5']

In [29]:
#Flatten a nested list.
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flattened_list = []

for sublist in nested_list:
    flattened_list.extend(sublist)

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
#Create a list of the first 10 Fibonacci numbers.
fibonacci_numbers = [0, 1]
while len(fibonacci_numbers) < 10:
    next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
    fibonacci_numbers.append(next_number)

print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [31]:
#Check if a list is sorted
def is_sorted(input_list):
    return input_list == sorted(input_list)

my_list = [1, 2, 3, 4, 5]
print(is_sorted(my_list))  # Output: True

my_list = [5, 3, 7, 2, 8]
print(is_sorted(my_list))  # Output: False

True
False

In [32]:
#Rotate a list to the left by `n` positions
def rotate_left(arr, n):
    n = n % len(arr)  # Ensure n is within the range of the list length
    return arr[n:] + arr[:n]

my_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate

result = rotate_left(my_list, n)
print(result)  # Output: [3, 4, 5, 1, 2]

[3, 4, 5, 1, 2]

In [33]:
#Rotate a list to the right by `n` positions.
def rotate_right(arr, n):
    n = n % len(arr)  # Ensure n is within the range of the list length
    return arr[-n:] + arr[:-n]

my_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate

result = rotate_right(my_list, n)
print(result)  # Output: [4, 5, 1, 2, 3]

[4, 5, 1, 2, 3]

In [34]:
#Create a list of prime numbers up to 50.
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [35]:
#Split a list into chunks of size `n`.
def split_list_into_chunks(input_list, n):
    return [input_list[i:i + n] for i in range(0, len(input_list), n)]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3

result = split_list_into_chunks(my_list, chunk_size)
print(result)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [36]:
# Find the second largest number in a list.
def second_largest(arr):
    if len(arr) < 2:
        return "List is too small to have a second largest element"
    
    sorted_list = sorted(arr, reverse=True)
    return sorted_list[1]

my_list = [10, 5, 20, 8, 15]
result = second_largest(my_list)
print("The second largest number is:", result)

The second largest number is: 15

In [37]:
# Replace every element in a list with its square
def square_elements(arr):
    for i in range(len(arr)):
        arr[i] = arr[i] ** 2

my_list = [1, 2, 3, 4, 5]
square_elements(my_list)

print(my_list)

[1, 4, 9, 16, 25]

In [38]:
#Convert a list to a dictionary where list elements become keys and their
#indices become values.
def list_to_dict(input_list):
    return {value: index for index, value in enumerate(input_list)}

my_list = ["apple", "banana", "cherry", "date"]
result_dict = list_to_dict(my_list)

print(result_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [39]:
#Shuffle the elements of a list randomly.
import random

my_list = [1, 2, 3, 4, 5]

# Shuffle the list in-place
random.shuffle(my_list)

print(my_list)

[1, 5, 3, 2, 4]

In [40]:
#Create a list of the first 10 factorial numbers.
def factorial(num):
    if num == 0:
        return 1
    else:
        return num * factorial(num - 1)

factorial_numbers = [factorial(i) for i in range(1, 11)]

print(factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [41]:
#Check if two lists have at least one element in common.
def have_common_element(list1, list2):
    # Convert the lists to sets
    set1 = set(list1)
    set2 = set(list2)
    
    # Check if there is an intersection between the sets
    return len(set1.intersection(set2)) > 0

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the lists have at least one element in common
result = have_common_element(list1, list2)

if result:
    print("The lists have at least one element in common.")
else:
    print("The lists have no elements in common.")

The lists have at least one element in common.

In [42]:
#. Remove all elements from a list.
my_list = [1, 2, 3, 4, 5]

my_list = []

print(my_list)  # Output: []

[]

In [43]:
# Replace negative numbers in a list with 0.
def replace_negatives_with_zero(lst):
    for i in range(len(lst)):
        if lst[i] < 0:
            lst[i] = 0

my_list = [1, -2, 3, -4, 5]
replace_negatives_with_zero(my_list)

print(my_list)

[1, 0, 3, 0, 5]

In [44]:
# Convert a string into a list of words
my_string = "Hello, this is a sample sentence."

# Split the string into a list of words
word_list = my_string.split()

print(word_list)

['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [45]:
# Convert a list of words into a string.
word_list = ["Hello", "this", "is", "a", "list", "of", "words"]

# Join the list of words into a string with spaces as separators
my_string = " ".join(word_list)

print(my_string)

Hello this is a list of words

In [46]:
# Create a list of the first `n` powers of 2
n = 5  # Replace this with the desired number of powers

powers_of_2 = [2 ** i for i in range(n)]

print(powers_of_2)

[1, 2, 4, 8, 16]

In [47]:
#Find the longest string in a list of strings.
string_list = ["apple", "banana", "cherry", "date", "fig"]

longest_string = max(string_list, key=len)

print("The longest string is:", longest_string)

The longest string is: banana

In [48]:
#Find the shortest string in a list of strings.
string_list = ["apple", "banana", "cherry", "date", "fig"]

shortest_string = min(string_list, key=len)

print("The shortest string is:", shortest_string)

The shortest string is: fig

In [49]:
#Create a list of the first `n` triangular numbers
n = 5  # Replace this with the desired number of triangular numbers

triangular_numbers = []

# Calculate the first n triangular numbers
for i in range(1, n + 1):
    triangular_number = (i * (i + 1)) // 2
    triangular_numbers.append(triangular_number)

print(triangular_numbers)

[1, 3, 6, 10, 15]

In [50]:
#Check if a list contains another list as a subsequence.
def is_subsequence(subseq, seq):
    subseq_length = len(subseq)
    seq_length = len(seq)
    
    subseq_index = 0  # Index for subsequence
    seq_index = 0     # Index for sequence
    
    while subseq_index < subseq_length and seq_index < seq_length:
        if subseq[subseq_index] == seq[seq_index]:
            subseq_index += 1
        seq_index += 1
    
    # If we've reached the end of the subsequence, it's a subsequence of the sequence
    return subseq_index == subseq_length

# Example lists
sequence = [1, 2, 3, 4, 5, 6]
subsequence = [2, 4, 6]

# Check if subsequence is a subsequence of sequence
result = is_subsequence(subsequence, sequence)

if result:
    print("Yes, it's a subsequence.")
else:
    print("No, it's not a subsequence.")

Yes, it's a subsequence.

In [51]:
#Swap two elements in a list by their indices.
def swap_elements_by_indices(arr, index1, index2):
    if 0 <= index1 < len(arr) and 0 <= index2 < len(arr):
        arr[index1], arr[index2] = arr[index2], arr[index1]

my_list = [1, 2, 3, 4, 5]

# Swap elements at index 1 and 3
swap_elements_by_indices(my_list, 1, 3)

print(my_list)

[1, 4, 3, 2, 5]

In [52]:
#Create a tuple with integers from 1 to 5
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [53]:
# Access the third element of a tuple.
my_tuple = (1, 2, 3, 4, 5)

# Access the third element (index 2)
third_element = my_tuple[2]

print(third_element)

3

In [54]:
#Find the length of a tuple without using the `len()` function.
def tuple_length(my_tuple):
    count = 0
    for _ in my_tuple:
        count += 1
    return count

my_tuple = (1, 2, 3, 4, 5)

length = tuple_length(my_tuple)
print("The length of the tuple is:", length)

The length of the tuple is: 5

In [55]:
# Count the occurrences of an element in a tuple.
def count_occurrences(my_tuple, element):
    count = 0
    for item in my_tuple:
        if item == element:
            count += 1
    return count

my_tuple = (1, 2, 3, 2, 4, 2, 5)
element_to_count = 2

occurrences = count_occurrences(my_tuple, element_to_count)
print(f"The element {element_to_count} appears {occurrences} times in the tuple.")

The element 2 appears 3 times in the tuple.

In [56]:
#Find the index of the first occurrence of an element in a tuple
def find_first_index(my_tuple, element):
    for index, item in enumerate(my_tuple):
        if item == element:
            return index
    return -1  # Return -1 if the element is not found

my_tuple = (1, 2, 3, 2, 4, 2, 5)
element_to_find = 2

index = find_first_index(my_tuple, element_to_find)

if index != -1:
    print(f"The element {element_to_find} is first found at index {index}.")
else:
    print(f"The element {element_to_find} is not found in the tuple.")

The element 2 is first found at index 1.

In [57]:
# Check if an element exists in a tuple.
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3

if element_to_check in my_tuple:
    print(f"The element {element_to_check} exists in the tuple.")
else:
    print(f"The element {element_to_check} does not exist in the tuple.")

The element 3 exists in the tuple.

In [58]:
#Convert a tuple to a list
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

print(my_list)

[1, 2, 3, 4, 5]

In [59]:
#Convert a list to a tuple
my_list = [1, 2, 3, 4, 5]

# Convert the list to a tuple
my_tuple = tuple(my_list)

print(my_tuple)

(1, 2, 3, 4, 5)

In [60]:
# Unpack the elements of a tuple into variables
my_tuple = (1, 2, 3)

# Unpack the tuple into variables
var1, var2, var3 = my_tuple

print("Variable 1:", var1)
print("Variable 2:", var2)
print("Variable 3:", var3)

Variable 1: 1
Variable 2: 2
Variable 3: 3

In [61]:
# Create a tuple of even numbers from 1 to 10
even_numbers = tuple(x for x in range(2, 11, 2))

print(even_numbers)

(2, 4, 6, 8, 10)

In [62]:
#Create a tuple of odd numbers from 1 to 10
odd_numbers = tuple(x for x in range(1, 11) if x % 2 != 0)

print(odd_numbers)

(1, 3, 5, 7, 9)

In [63]:
# Concatenate two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [64]:
# Repeat a tuple three times
my_tuple = (1, 2, 3)

# Repeat the tuple three times
repeated_tuple = my_tuple * 3

print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [65]:
#Check if a tuple is empty
my_tuple = ()

if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [66]:
#Create a nested tuple.
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (4.0, 5.0, 6.0))

print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'), (4.0, 5.0, 6.0))

In [67]:
# Access the first element of a nested tuple
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (4.0, 5.0, 6.0))

# Access the first element of the nested tuple
first_element = nested_tuple[0]

print("The first element of the nested tuple is:", first_element)

The first element of the nested tuple is: (1, 2, 3)

In [68]:
# Create a tuple with a single element
single_element_tuple = (42,)
single_element_tuple

(42,)

In [69]:
# Compare two tuples.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare the two tuples
if tuple1 == tuple2:
    print("Tuples are equal.")
else:
    print("Tuples are not equal.")

if tuple1 < tuple2:
    print("Tuple1 is less than tuple2.")
else:
    print("Tuple1 is not less than tuple2.")

Tuples are not equal.
Tuple1 is less than tuple2.

In [70]:
# Delete a tuple
my_tuple = (1, 2, 3, 4, 5)

# Delete the entire tuple
del my_tuple

# Attempting to access the tuple after deletion will raise an error
# print(my_tuple)  # Uncommenting this line would result in an error

In [71]:
# Slice a tuple
my_tuple = (1, 2, 3, 4, 5)

# Slice the tuple to get a subset
subset_tuple = my_tuple[1:4]

print(subset_tuple)

(2, 3, 4)

In [72]:
# Find the maximum value in a tuple.
my_tuple = (1, 5, 3, 7, 2, 8)

# Find the maximum value in the tuple
max_value = max(my_tuple)

print("The maximum value in the tuple is:", max_value)

The maximum value in the tuple is: 8

In [73]:
# Find the minimum value in a tuple
my_tuple = (1, 5, 3, 7, 2, 8)

# Find the minimum value in the tuple
min_value = min(my_tuple)

print("The minimum value in the tuple is:", min_value)

The minimum value in the tuple is: 1

In [74]:
 #Convert a string to a tuple of characters
my_string = "Hello, World!"

# Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

print(tuple_of_characters)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [75]:
# Convert a tuple of characters to a string.
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Convert the tuple of characters to a string
my_string = ''.join(tuple_of_characters)

print(my_string)

Hello, World!

In [76]:
# Create a tuple from multiple data types.
mixed_tuple = (1, "Hello", 3.14, True)

print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [77]:
# Check if two tuples are identical.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Check if the two tuples are identical
if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are identical.

In [78]:
# Sort the elements of a tuple
my_tuple = (3, 1, 2, 5, 4)

# Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(list(my_tuple)))

print(sorted_tuple)

(1, 2, 3, 4, 5)

In [79]:
#Convert a tuple of integers to a tuple of strings
tuple_of_integers = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
tuple_of_strings = tuple(str(x) for x in tuple_of_integers)

print(tuple_of_strings)

('1', '2', '3', '4', '5')

In [80]:
# Convert a tuple of strings to a tuple of integers.
tuple_of_strings = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers
tuple_of_integers = tuple(int(x) for x in tuple_of_strings)

print(tuple_of_integers)

(1, 2, 3, 4, 5)

In [81]:
#Merge two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the two tuples
merged_tuple = tuple1 + tuple2

print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [82]:
#Merge two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the two tuples
merged_tuple = tuple1 + tuple2

print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [83]:
# Create a tuple of the first 5 prime numbers
def is_prime(n):
    if n <= 1:
        return False
    elif n <= 3:
        return True
    elif n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = []
n = 2  # Start with the first prime number

while len(prime_numbers) < 5:
    if is_prime(n):
        prime_numbers.append(n)
    n += 1

prime_tuple = tuple(prime_numbers)

print(prime_tuple)

(2, 3, 5, 7, 11)

In [84]:
# Check if a tuple is a palindrome.
def is_palindrome(t):
    return t == t[::-1]

my_tuple = (1, 2, 3, 2, 1)

# Check if the tuple is a palindrome
if is_palindrome(my_tuple):
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

In [85]:
#Create a tuple of squares of numbers from 1 to 5.
squares_tuple = (1**2, 2**2, 3**2, 4**2, 5**2)
squares_tuple

(1, 4, 9, 16, 25)

In [86]:
# Filter out all even numbers from a tuple.
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

print(filtered_tuple)

(1, 3, 5, 7, 9)

In [87]:
# Multiply all elements in a tuple by 2.
original_tuple = (1, 2, 3, 4, 5)

doubled_tuple = tuple(x * 2 for x in original_tuple)

print(doubled_tuple)

(2, 4, 6, 8, 10)

In [88]:
# Create a tuple of random numbers.
import random

# Define the range and the number of random integers
start_range = 1
end_range = 100
num_numbers = 5

# Generate a tuple of random integers
random_tuple = tuple(random.randint(start_range, end_range) for _ in range(num_numbers))

print(random_tuple)

(41, 26, 90, 44, 51)

In [89]:
# Check if a tuple is sorted
# Original tuple
my_tuple = (1, 2, 3, 4, 5)

# Check if the tuple is sorted
is_sorted = my_tuple == tuple(sorted(my_tuple))

if is_sorted:
    print("The tuple is sorted in ascending order.")
else:
    print("The tuple is not sorted in ascending order.")

The tuple is sorted in ascending order.

In [90]:
# Rotate a tuple to the left by `n` positions
def rotate_left_tuple(my_tuple, n):
    # Calculate the index at which to split the tuple
    split_index = n % len(my_tuple)

    # Use slicing to split the tuple and recombine it in the rotated order
    rotated_tuple = my_tuple[split_index:] + my_tuple[:split_index]

    return rotated_tuple

# Original tuple
my_tuple = (1, 2, 3, 4, 5)

# Number of positions to rotate
n = 2

# Rotate the tuple to the left by n positions
rotated = rotate_left_tuple(my_tuple, n)

print(rotated)

(3, 4, 5, 1, 2)

In [91]:
#Rotate a tuple to the right by `n` positions.
def rotate_right_tuple(my_tuple, n):
    # Calculate the index at which to split the tuple
    split_index = len(my_tuple) - (n % len(my_tuple))

    # Use slicing to split the tuple and recombine it in the rotated order
    rotated_tuple = my_tuple[split_index:] + my_tuple[:split_index]

    return rotated_tuple

# Original tuple
my_tuple = (1, 2, 3, 4, 5)

# Number of positions to rotate
n = 2

# Rotate the tuple to the right by n positions
rotated = rotate_right_tuple(my_tuple, n)

print(rotated)

(4, 5, 1, 2, 3)

In [92]:
#. Create a tuple of the first 5 Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = []
    a, b = 0, 1
    for _ in range(n):
        fibonacci.append(a)
        a, b = b, a + b
    return tuple(fibonacci)

# Generate a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [93]:
# Create a tuple from user input
# Collect user input as a comma-separated string
user_input = input("Enter elements separated by commas: ")

# Split the input string by commas and convert it to a tuple
user_tuple = tuple(user_input.split(","))

print("User Tuple:", user_tuple)

Enter elements separated by commas:  asss

User Tuple: ('asss',)

In [94]:
#Swap two elements in a tuple
# Original tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

# Indices of the elements to be swapped
index1 = 1
index2 = 3

# Swap the elements in the list
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

# Convert the list back to a tuple
swapped_tuple = tuple(my_list)

print("Original Tuple:", my_tuple)
print("Swapped Tuple:", swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Swapped Tuple: (1, 4, 3, 2, 5)

In [95]:
# Reverse the elements of a tuple
# Original tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements and create a new tuple
reversed_tuple = tuple(reversed(my_tuple))

print("Original Tuple:", my_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

In [96]:
# Create a tuple of the first `n` powers of 2
def powers_of_2(n):
    # Use list comprehension to generate the first n powers of 2
    power_list = [2 ** i for i in range(n)]

    # Convert the list to a tuple
    power_tuple = tuple(power_list)

    return power_tuple

# Number of powers of 2 to generate
n = 5

# Generate a tuple of the first n powers of 2
result_tuple = powers_of_2(n)

print(result_tuple)

(1, 2, 4, 8, 16)

In [97]:
# Find the longest string in a tuple of strings.
# Tuple of strings
my_tuple = ("apple", "banana", "cherry", "date", "fig")

# Initialize a variable to store the longest string
longest_string = ""

# Iterate through the tuple
for word in my_tuple:
    if len(word) > len(longest_string):
        longest_string = word

print("Longest String:", longest_string)

Longest String: banana

In [98]:
# Find the shortest string in a tuple of strings.
# Tuple of strings
my_tuple = ("apple", "banana", "cherry", "date", "fig")

# Initialize a variable to store the shortest string
shortest_string = None

# Iterate through the tuple
for word in my_tuple:
    if shortest_string is None or len(word) < len(shortest_string):
        shortest_string = word

print("Shortest String:", shortest_string)

Shortest String: fig

In [99]:
# Create a tuple of the first `n` triangular numbers
def generate_triangular_numbers(n):
    # Use list comprehension to generate the first n triangular numbers
    triangular_list = [(i * (i + 1)) // 2 for i in range(1, n + 1)]

    # Convert the list to a tuple
    triangular_tuple = tuple(triangular_list)

    return triangular_tuple

# Number of triangular numbers to generate
n = 5

# Generate a tuple of the first n triangular numbers
result_tuple = generate_triangular_numbers(n)

print(result_tuple)

(1, 3, 6, 10, 15)

In [100]:
# Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(main_tuple, target_tuple):
    # Get the lengths of both tuples
    main_len = len(main_tuple)
    target_len = len(target_tuple)

    # Iterate through the main tuple
    for i in range(main_len - target_len + 1):
        # Extract a subsequence of the same length as the target tuple
        subsequence = main_tuple[i:i + target_len]

        # Check if the subsequence matches the target tuple
        if subsequence == target_tuple:
            return True

    # If no match is found, return False
    return False

# Example tuples
main_tuple = (1, 2, 3, 4, 5, 6, 7)
target_tuple = (3, 4, 5)

# Check if the main tuple contains the target tuple as a subsequence
result = contains_subsequence(main_tuple, target_tuple)

if result:
    print("Main tuple contains the target tuple as a subsequence.")
else:
    print("Main tuple does not contain the target tuple as a subsequence.")

Main tuple contains the target tuple as a subsequence.

In [101]:
# Create a tuple of alternating 1s and 0s of length `n`
def create_alternating_tuple(n):
    # Use list comprehension to generate the alternating pattern
    alternating_list = [1 if i % 2 == 0 else 0 for i in range(n)]

    # Convert the list to a tuple
    alternating_tuple = tuple(alternating_list)

    return alternating_tuple

# Length of the alternating tuple
n = 10

# Create a tuple of alternating 1s and 0s
result_tuple = create_alternating_tuple(n)

print(result_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

#set based problems

In [104]:
#Create a set with integers from 1 to 5
my_set = set([1, 2, 3, 4, 5])
my_set

{1, 2, 3, 4, 5}

In [105]:
# Add an element to a set
my_set = {1, 2, 3, 4, 5}

# Add an element to the set
my_set.add(6)

# Print the updated set
print(my_set)

{1, 2, 3, 4, 5, 6}

In [106]:
# Remove an element from a set
my_set = {1, 2, 3, 4, 5}

# Remove an element from the set
my_set.remove(3)

# Print the updated set
print(my_set)

{1, 2, 4, 5}

In [107]:
#Check if an element exists in a set
my_set = {1, 2, 3, 4, 5}

# Check if an element exists in the set
element = 3
if element in my_set:
    print(f"{element} exists in the set")
else:
    print(f"{element} does not exist in the set")

3 exists in the set

In [108]:
#Find the length of a set without using the `len()` function.
my_set = {1, 2, 3, 4, 5}

# Initialize a counter variable
count = 0

# Iterate through the set and count each element
for element in my_set:
    count += 1

# Print the length of the set
print("Length of the set:", count)

Length of the set: 5

In [109]:
#Clear all elements from a set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the empty set
print(my_set)

set()

In [110]:
# Create a set of even numbers from 1 to 10.
even_numbers = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers)

{2, 4, 6, 8, 10}

In [111]:
#Create a set of odd numbers from 1 to 10.
odd_numbers = {x for x in range(1, 11) if x % 2 != 0}
print(odd_numbers)

{1, 3, 5, 7, 9}

In [112]:
# Find the union of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the union of set1 and set2 using the | operator
union_set = set1 | set2

# Print the union set
print(union_set)

{1, 2, 3, 4, 5, 6, 7}

In [113]:
#Find the intersection of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the intersection of set1 and set2 using the & operator
intersection_set = set1 & set2

# Print the intersection set
print(intersection_set)

{3, 4, 5}

In [114]:
# Find the difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the difference between set1 and set2 using the - operator
difference_set = set1 - set2

# Print the difference set
print(difference_set)

{1, 2}

In [115]:
# Check if a set is a subset of another set.
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2 using the issubset() method
is_subset = set1.issubset(set2)

# Print the result
print(is_subset)

True

In [116]:
# Check if a set is a superset of another set
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set1 is a superset of set2 using the issuperset() method
is_superset = set1.issuperset(set2)

# Print the result
print(is_superset)

True

In [117]:
# Create a set from a list.
my_list = [1, 2, 3, 4, 5]

# Create a set from the list using the set() constructor
my_set = set(my_list)

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

In [118]:
#Convert a set to a list
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list using the list() constructor
my_list = list(my_set)

# Print the list
print(my_list)

[1, 2, 3, 4, 5]

In [119]:
#Remove a random element from a set
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set using the pop() method
removed_element = my_set.pop()

# Print the removed element and the modified set
print("Removed Element:", removed_element)
print("Modified Set:", my_set)

Removed Element: 1
Modified Set: {2, 3, 4, 5}

In [120]:
#Pop an element from a set
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the popped element and the modified set
print("Popped Element:", popped_element)
print("Modified Set:", my_set)

Popped Element: 1
Modified Set: {2, 3, 4, 5}

In [121]:
#Check if two sets have no elements in common
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 have no elements in common using isdisjoint()
no_common_elements = set1.isdisjoint(set2)

# Print the result
print(no_common_elements)

True

In [122]:
#Find the symmetric difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the symmetric difference between set1 and set2 using symmetric_difference()
symmetric_diff = set1.symmetric_difference(set2)

# Print the symmetric difference
print(symmetric_diff)

{1, 2, 3, 6, 7, 8}

In [123]:
# Update a set with elements from another set
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2 using the update() method
set1.update(set2)

# Print the updated set1
print(set1)

{1, 2, 3, 4, 5}

In [124]:
# Create a set of the first 5 prime numbers.
prime_numbers = {2, 3, 5, 7, 11}

# Print the set of prime numbers
print(prime_numbers)

{2, 3, 5, 7, 11}

In [125]:
#Check if two sets are identical
set1 = {1, 2, 3}
set2 = {3, 2, 1}

# Check if set1 is a subset of set2 and set2 is a subset of set1
identical = set1.issubset(set2) and set2.issubset(set1)

# Print the result
print(identical)

True

In [126]:
# Create a frozen set
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)

# Print the frozen set
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [127]:
#Check if a set is disjoint with another set
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 are disjoint using the isdisjoint() method
disjoint = set1.isdisjoint(set2)

# Print the result
print(disjoint)

True

In [128]:
#Create a set of squares of numbers from 1 to 5.
squares_set = {x**2 for x in range(1, 6)}

# Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

In [129]:
#Filter out all even numbers from a set
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Use a set comprehension to filter out even numbers
filtered_set = {x for x in original_set if x % 2 != 0}

# Print the filtered set
print(filtered_set)

{1, 3, 5, 7, 9}

In [130]:
#Multiply all elements in a set by 2
original_set = {1, 2, 3, 4, 5}

# Create a new set with elements multiplied by 2
result_set = {x * 2 for x in original_set}

# Print the result set
print(result_set)

{2, 4, 6, 8, 10}

In [131]:
# Create a set of random numbers
import random

# Create an empty set to store random numbers
random_set = set()

# Generate and add random numbers to the set
for _ in range(5):  # Change 5 to the desired number of random numbers
    random_number = random.randint(1, 100)  # Adjust the range as needed
    random_set.add(random_number)

# Print the set of random numbers
print(random_set)

{64, 46, 82, 92, 31}

In [132]:
# Check if a set is empty.
my_set = set()  # This is an empty set

if len(my_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [133]:
#Create a nested set (hint: use frozenset)
# Create frozensets
set1 = frozenset([1, 2, 3])
set2 = frozenset([4, 5, 6])

# Create a nested set
nested_set = {set1, set2}

# Print the nested set
print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6})}

In [134]:
#Remove an element from a set using the discard method
my_set = {1, 2, 3, 4, 5}

# Remove an element using discard
my_set.discard(3)

print(my_set)  # The element 3 is removed

{1, 2, 4, 5}

In [135]:
#Compare two sets
set1 = {1, 2}
set2 = {3, 4}

if set1.isdisjoint(set2):
    print("The sets are disjoint (have no common elements).")
else:
    print("The sets have common elements.")

The sets are disjoint (have no common elements).

In [136]:
# Create a set from a string
my_string = "hello"
my_set = {char for char in my_string}
print(my_set)

{'o', 'e', 'l', 'h'}

In [137]:
#Convert a set of strings to a set of integers.
# Set of strings
string_set = {"1", "2", "3", "4", "5"}

# Convert to a set of integers
integer_set = {int(s) for s in string_set}

print(integer_set)

{1, 2, 3, 4, 5}

In [138]:
# Convert a set of integers to a set of strings.
# Set of integers
integer_set = {1, 2, 3, 4, 5}

# Convert to a set of strings
string_set = {str(num) for num in integer_set}

print(string_set)

{'5', '1', '3', '4', '2'}

In [139]:
# Create a set from a tuple
# Tuple
my_tuple = (1, 2, 3, 4, 5)

# Create a set from the tuple
my_set = set(my_tuple)

print(my_set)

{1, 2, 3, 4, 5}

In [140]:
# Convert a set to a tuple
# Set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

print(my_tuple)

(1, 2, 3, 4, 5)

In [141]:
# Find the maximum value in a set
# Set of numbers
my_set = {42, 17, 8, 99, 23}

# Find the maximum value in the set
maximum_value = max(my_set)

print(maximum_value)

99

In [142]:
#Find the minimum value in a set
# Set of numbers
my_set = {42, 17, 8, 99, 23}

# Find the minimum value in the set
minimum_value = min(my_set)

print(minimum_value)

8

In [143]:
# Create a set from user input.
# Initialize an empty set
my_set = set()

# Ask the user for input
while True:
    user_input = input("Enter a value (or 'done' to finish): ")
    
    # Check if the user wants to finish
    if user_input.lower() == 'done':
        break
    
    # Add the user input to the set
    try:
        value = int(user_input)  # Convert input to an integer
        my_set.add(value)
    except ValueError:
        print("Invalid input. Please enter a valid integer.")

# Display the set
print("The set you created is:", my_set)

Enter a value (or 'done' to finish):  ass

Invalid input. Please enter a valid integer.

Enter a value (or 'done' to finish):  fonish

Invalid input. Please enter a valid integer.

Enter a value (or 'done' to finish):  122
Enter a value (or 'done' to finish):  finish

Invalid input. Please enter a valid integer.

Enter a value (or 'done' to finish):  1
Enter a value (or 'done' to finish):  finish

Invalid input. Please enter a valid integer.

Enter a value (or 'done' to finish):  done

The set you created is: {1, 122}

In [144]:
#Check if the intersection of two sets is empty
# Two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Check if the intersection is empty
is_empty_intersection = set1.isdisjoint(set2)

if is_empty_intersection:
    print("The intersection of set1 and set2 is empty.")
else:
    print("The intersection of set1 and set2 is not empty.")

The intersection of set1 and set2 is not empty.

In [145]:
#Create a set of the first 5 Fibonacci numbers
# Initialize an empty set
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Generate the first 5 Fibonacci numbers and add them to the set
for _ in range(5):
    fibonacci_set.add(a)
    a, b = b, a + b

# Display the set
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [146]:
#Remove duplicates from a list using sets
# Original list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates using a set
my_list_without_duplicates = list(set(my_list))

# Display the list without duplicates
print(my_list_without_duplicates)

[1, 2, 3, 4, 5]

In [147]:
# Check if two sets have the same elements, regardless of their count.
# Two sets with the same elements but different order and count
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the sets have the same elements
if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [148]:
#Create a set of the first `n` powers of 2
n = 5  # Change n to the desired number of powers of 2

# Create a set of the first n powers of 2
powers_of_2_set = {2 ** i for i in range(n)}

# Display the set
print(powers_of_2_set)

{1, 2, 4, 8, 16}

In [149]:
#Find the common elements between a set and a list.
# Define a set
my_set = {1, 2, 3, 4, 5}

# Define a list
my_list = [3, 4, 5, 6, 7]

# Find common elements between the set and list
common_elements = my_set.intersection(my_list)

# Display the common elements
print(common_elements)

{3, 4, 5}

In [150]:
#Create a set of the first `n` triangular numbers
n = 5  # Change n to the desired number of triangular numbers

# Create a set of the first n triangular numbers
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}

# Display the set
print(triangular_numbers_set)

{1, 3, 6, 10, 15}

In [151]:
#Check if a set contains another set as a subset
# Define the sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# Check if set2 is a subset of set1 using issubset()
is_subset = set2.issubset(set1)

# Alternatively, you can use the <= operator
is_subset_alternative = set2 <= set1

# Check the results
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

if is_subset_alternative:
    print("set2 is a subset of set1 (using <= operator)")
else:
    print("set2 is not a subset of set1 (using <= operator)")

set2 is a subset of set1
set2 is a subset of set1 (using <= operator)

In [152]:
# Create a set of alternating 1s and 0s of length `n`.
n = 10  # Change this to the desired length

# Create a set of alternating 1s and 0s using list comprehension
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}

# Print the resulting set
print(alternating_set)

{0, 1}

In [153]:
# Merge multiple sets into one
# Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Method 1: Using union method
merged_set1 = set1.union(set2, set3)

# Method 2: Using | (pipe) operator
merged_set2 = set1 | set2 | set3

# Print the merged sets
print("Merged Set 1:", merged_set1)
print("Merged Set 2:", merged_set2)

Merged Set 1: {1, 2, 3, 4, 5, 6, 7}
Merged Set 2: {1, 2, 3, 4, 5, 6, 7}